<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <div class="bg-warning">
        <span class="navbar-brand bg-warning m-lg-2 p-2">Sami's Book Store</span>
    </div>

    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
