@page
@model BookApp.Pages.ConfirmationPageModel
@{
}

<div class="text-center text-warning">
    <h2>Thank you for your purchase!</h2>
    <a class="btn-primary btn btn-warning" asp-controller="Home">Return Home</a>
</div>